In [173]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [180]:
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1&customizationToken=MC_Assembly_1%23B0752XJYNL'

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0.1 Safari/605.1.15", "Accept-Encoding": "gzip, deflate, br",  "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page= requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()
price = soup2.find('span', {'class': 'a-price aok-align-center reinventPricePriceToPayMargin priceToPay'})

print(title)
print(price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt

None

In [181]:
title = title.strip()
print(title)
type(title)

Funny Got Data MIS Data Systems Business Analyst T-Shirt

str

In [184]:
import datetime

today = datetime.date.today()

print(today)

2024-10-16

In [190]:
import csv

header = ['title','price' 'date']
data = [title, price, today]

with open('AmazonWebScraperDataset.csv', 'w', newline='',encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [202]:
import pandas as pd
df = pd.read_csv(r'AmazonWebScraperDataset.csv')
df

                                                    title   pricedate
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16

In [200]:

with open('AmazonWebScraperDataset.csv', 'a+', newline='',encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [234]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1&customizationToken=MC_Assembly_1%23B0752XJYNL'

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0.1 Safari/605.1.15", "Accept-Encoding": "gzip, deflate, br",  "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page= requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

price = soup2.find('span', {'class': 'a-price aok-align-center reinventPricePriceToPayMargin priceToPay'})

title = title.strip()
print(title)
type(title)

import datetime

today = datetime.date.today()

import csv

header = ['title','price' 'date']
data = [title, price, today]

with open('AmazonWebScraperDataset.csv', 'a+', newline='',encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [235]:
import pandas as pd
df = pd.read_csv(r'AmazonWebScraperDataset.csv')
print(df)

                                                    title   pricedate
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16
Funny Got Data MIS Data Systems Business Analys...    NaN  2024-10-16